
<%: func RenderAddFood (title string, addedFood string, w io.Writer) %>

<%~ "layout.html" %>

<%@ body { %>

<form id="food-form" method="POST" class="p-4" style="max-width: 50%">
	<h2 class="pb-2">Add Food</h2>
	<div class="row form-group" id="name-div">
		<label class="col-2 col-form-label pr-0" for="name">Name</label>
		<div class="col-6">
			<input type="text" class="form-control" name="name" id="name">
			<small class="validation-text" name="name-val-div"></small>
		</div>
		<div class="col-4 p-0">
			<i class="fa fa-thumbs-up my-2 success-text" name="name-svg-success" style="display:none"></i>
			<i class="fa fa fa-thumbs-down my-2 validation-text" name="name-svg-error" style="display:none"></i>
		</div>
	</div>
	<div class="row form-group" id="calories-div">
		<label class="col-2 col-form-label pr-0" for="calories">Calories</label>
		<div class="col-6">
			<input type="text" class="form-control" name="calories" id="calories">
			<small class="validation-text" name="calories-val-div"></small>
		</div>
		<div class="col-4 p-0">
			<i class="fa fa-thumbs-up my-2 success-text" name="calories-svg-success" style="display:none"></i>
			<i class="fa fa fa-thumbs-down my-2 validation-text" name="calories-svg-error" style="display:none"></i>
		</div>
	</div>
	<div class="row form-group" id="protein-div">
		<label class="col-2 col-form-label pr-0" for="protein">Protein</label>
		<div class="col-6">
			<input type="text" class="form-control" name="protein" id="protein">
			<small class="validation-text" name="protein-val-div"></small>
		</div>
		<div class="col-4 p-0">
			<i class="fa fa-thumbs-up my-2 success-text" name="protein-svg-success" style="display:none"></i>
			<i class="fa fa fa-thumbs-down my-2 validation-text" name="protein-svg-error" style="display:none"></i>
		</div>
	</div>
	<div class="row form-group" id="carbohydrate-div">
		<label class="col-2 col-form-label pr-0" for="carbohydrate">Carbohydrate</label>
		<div class="col-6">
			<input type="text" class="form-control" name="carbohydrate" id="carbohydrate">
			<small class="validation-text" name="carbohydrate-val-div"></small>
		</div>
		<div class="col-4 p-0">
			<i class="fa fa-thumbs-up my-2 success-text" name="carbohydrate-svg-success" style="display:none"></i>
			<i class="fa fa fa-thumbs-down my-2 validation-text" name="carbohydrate-svg-error" style="display:none"></i>
		</div>
	</div>
	<div class="row form-group" id="fat-div">
		<label class="col-2 col-form-label pr-0" for="fat">Fat</label>
		<div class="col-6">
			<input type="text" class="form-control" name="fat" id="fat">
			<small class="validation-text" name="fat-val-div"></small>
		</div>
		<div class="col-4 p-0">
			<i class="fa fa-thumbs-up my-2 success-text" name="fat-svg-success" style="display:none"></i>
			<i class="fa fa fa-thumbs-down my-2 validation-text" name="fat-svg-error" style="display:none"></i>
		</div>
	</div>

	<input type="submit" class="btn btn-primary" id="food-submit" value="Add">
	<a href="/food/"><input type="button" class="btn btn-default" value="Back"></a>

</form>

<% if len(addedFood) > 0 { %> 
	<div>
		<h4 class="success success-text">Added <%==s addedFood %>!</h4>
	</div>
<% } %>

<script type="text/javascript">

$(document).ready(function(){
	$('#food-form').submit(function(){
		return validateFood();
	});
});

</script>

<% } %>

